# SPDX-FileCopyrightText: 2021 Anuket contributors
#
# SPDX-License-Identifier: Apache-2.0

meta-data
user-data
*.swp
**/.DS_Store
**/._.DS_Store
inventory/group_vars/all/idf.yaml
inventory/group_vars/all/pdf.yaml
images
workspace
.tox
docs/_build/
