---
# SPDX-FileCopyrightText: 2021 Samsung Electronics
#
# SPDX-License-Identifier: Apache-2.0

extends: default

ignore: |
  deployment.yaml
  .tox/

rules:
  line-length: disable
  truthy: disable
  comments-indentation: disable
  comments: disable
