{#
SPDX-FileCopyrightText: 2021 Anuket contributors

SPDX-License-Identifier: Apache-2.0
#}

{% for role in ['kube-master', 'etcd', 'kube-node'] %}
[{{ role }}]
{% for node in nodes %}
{% if role in idf.kubespray.nodes_roles[node.name] %}
{{ node.interfaces[idf.net_config[engine.pxe_network].interface].address }}
{% endif %}
{% endfor %}
[{{ role }}:vars]
ansible_ssh_user=ri2

{% endfor %}

[k8s-cluster:children]
kube-master
kube-node

[calico-rr]

{% if os_distro|lower != 'centos7' %}
[all:vars]
ansible_python_interpreter=/usr/bin/python3
{% endif %}
